<h1>Form Validation Test</h1>
<div class="row">
  <form class="col s12">
    <div class="input-field col s12">
      <input ng-model="$ctrl.user.username" id="username" type="text" class="validate">
      <label for="username">Username:</label>
    </div>
    <div class="input-field col s12">
      <input ng-model="$ctrl.user.password" id="password" type="text" class="validate">
      <label for="password">Password:</label>
    </div>
    <div class="input-field col s12">
      <input ng-model="$ctrl.user.email" id="email" type="text" class="validate">
      <label for="email">Email:</label>
    </div>
    <div class="input-field col s12">
      <input ng-model="$ctrl.user.zipcode" id="zipcode" type="text" class="validate">
      <label for="zipcode">Zip (5 digits):</label>
    </div>
  </form>
</div>
